body{
   margin: 0 auto;
   background-color: bisque;
}

h1{
    color: orange;
    text-align: center;
    font-size: 50px;
}

.recipes-list{
    height: 100px;
    width: 300px ;
    margin: 20px;
    padding: 10px;
}

/* a{
    color: ;
} 

{
    text-align: center;
} */

#homepage{
    text-align: center;
    color: black;
}

.home{
    color: black;
}

/* *{
    outline: 2px solid darkblue;
}  */